
button.btn.btn-outline-success {
    border-color: white;
    color: white; 
    background-color: black; 
    margin-right: 10px;
  }
  
  
  button.navbar-toggler {
    margin-left: auto;
    position: absolute;
  right: 15px;
  padding-right: 1cm;

  }

button.btn.btn-outline-light {
    margin-right: 400px; 

}

  
 
  
