@import"container";
@import"header";
@import"title";
@import"section";
@import 'carousel';
@import"buttons";
@import"footer";
@import"img";
@import "hr";









body{
    background-color: black;
    padding-left: 1cm;
}
  
.containerMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.containerMain {
  text-align: center;
}

.card {
  text-align: left; 
  max-width: 540px;
}

.card-body {
  text-align: left; 
}


