<div class="container auth-container">



  <div class="row align-items-end auth-row">

    <div class="col-6 auth-col">
      <h3 class="auth-title">Accedi o registrati</h3>
      <a routerLink="/auth/login" class="btn btn-primary auth-login-btn">Accedi</a>
    </div>
    <div class="col-6 auth-col">
      <h3 class="auth-subtitle">Non sei registrato?</h3>
      <a routerLink="/auth/register" class="btn btn-primary auth-register-btn">Registrati</a>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
