body{

}

#yellowHeader ,.mainTitle  {
    background-color: #ffc017;


}


#yellowHeader {
    background-color: #ffc017;
    border-bottom: 0.8px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0.6cm;
}

#yellowHeader .logo {
    margin-right: auto;
}

#yellowHeader .menu {
    list-style: none; 
    display: flex;
    
 gap: 40px; 
    
}

#yellowHeader .menu li a {
    text-decoration: none; 
    color: black; 
    font-size: 25px; 
}

#yellowHeader .linkGetStarted {
    
    background-color: #191919;
    color: white;
    border-radius: 30px;
    font-size: larger;
}



.mainTitle{line-height: 50px;
padding:6%
}

.stay {
    font-size: 100px; 
    font-weight:  
    color: black
  }

 .discover{
    margin-top: 0.8cm;
    
    font-size: larger;
 }

 .linkStartReading{
    text-decoration: none;
    color:white;
    
    
 }

 button{
    background-color: #191919;
    width: 190px;
    height:40px;
    border-radius: 30px 30px 30px 30px;
    font-size: larger;
 }

 #mainContent {
    display: flex;
    
    align-items: center; 
    padding: 20px;
    margin-top: 2cm;
  }
  
  .articles {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
  }
  
  .content {
    flex-basis: calc(33.33% - 80px);
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  

  .article {
    margin-bottom: 20px;
    padding: 20px;
    
  }
  
  .content img { border-radius: 100%;}
  .author {
    font-weight: bold;
    color: #333;
  }
  
  
  .articleTitle {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
  }
  
  
  .resume {
    color: #666;
  }

  
  date {
    color: #888;
  }
  
 
  
  
  
 

  