body {}





#yellowHeader {
  background-color: #ffc017;
  border-bottom: 0.8px solid black;
 
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0.6cm;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#yellowHeader .logo {
 margin-left: 300px;
 margin-right: 10px;


}

#yellowHeader .menu {
  width: 500px;
    list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  

  gap: 9px;

}

#yellowHeader .menu li a {
  text-decoration: none;
  color: black;
  font-size: 19px;
}

#yellowHeader .linkGetStarted {

  background-color: #191919;
  color: white;
  border-radius: 30px;
  font-size: 15px;
  width: 190px;


}

.m{
  width: 550px;
  height: 390px;
  position: absolute;
  top: 0;
  right: 0;
}
.yellow{
 position: relative;
 height: 400px;
 background-color: #ffc017;
 
}




.mainTitle {
  line-height: 50px;
  padding: 6%;
  margin-left: 240px;

}

.stay {
  font-size: 100px;
  font-weight;
    color: black;
}

.discover {
  margin-top: 0.8cm;

  font-size: larger;
}

.linkStartReading {
  text-decoration: none;
  color: white;
  
  
 


}

button {
  background-color: #191919;
  width: 190px;
  height: 40px;
  border-radius: 30px 30px 30px 30px;
  font-size: larger;
}




#mainContent{
margin-top: 60px;
  margin-left: 300px;
}
#mainContent h2{
  padding-top: 20px;
  font-size: 1.3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-wrap: wrap;
 
 }



.row {
  display: flex;
}

.item {
 
    flex-basis: calc(33.33% - 80px);
  margin: 5px;
  padding: 10px;
 
}



#articles .content .authorName{
  color: black;


}


.content img {
  border-radius: 100%;

}

.content .number{
  color: grey;
  font-weight: 600;
  font-size: 50px;
  
}

.content h4{
 font-size: 1.2em;
 font-weight: 600;
}


date {
  color: #888;
}






hr {
  border: 0.7px solid rgba(128, 128, 128, 0.233);
  width: 100%;
  margin: 40px;
}






body, div, p, h4, date, img, svg {
  margin: 0;
  padding: 0;
}


article {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}


.author {
  color: #333;
  font-weight: bold;
}


.authorImg img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}


.articleImg {
  max-width: 100%;
  border-radius: 8px;
  margin: 20px 0;
}


.articleTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.resume {
  color: #777;
  font-size: 1rem;
  margin: 10px 0;
}

date {
  color: #777;
  font-size: 0.9rem;
  display: block;
  margin-top: 10px;
}






.asideButton a {
  text-decoration: none;
  background-color: #88888877;
  color: azure;
  font-size:1rem;
  border-radius: 15px;
  border-style: none;
  width: 100px;
 
padding: 1px;

}


.flex{

  
display: flex;
justify-content:space-between;
align-items: flex-start;
flex-wrap: wrap;}




.columnLeft{
  flex: 0 0 calc(50% - 10px); 
  width: calc(50% - 10px);
  margin-right: 20px; 
  
}
.columnRight{ 
  
  flex: 0 0 calc(50% - 10px); 
  width: calc(50% - 10px);
}

 .columnLeft, .columnRight {
  margin-top: 80px;
}

.buttonFooter{background-color: white;
  border-style: none;

}




.footer{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
 
}

.asideButton{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.asideButton  h2{
 
  }

.asideButton  li{list-style: none;
  line-height: 1px;
  flex: 0 0 calc(33.33% - 10px);
  margin-bottom: 20px;
  margin-top: 20px;
  }

 .imgFloat{
  float: left;
}




.content div{
  display: inline-block; 
  width: 130px;
  
  text-align: center;
}

.number{
  float:left
}




article{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.textArt{
  display: inline-block;
  width: 400px;
  
  flex: 1;
 
 


}


.articleImg{
 margin-left: 50px;
 margin-top: 15px;
width: 300px;
  
}
.flex{
  width: 100%;
}


.columnRight{
  

}
















