.login-title {
  color: #333;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;

    &.input-email {
      border-color: #007bff;
    }

    &.input-password {
      border-color: #28a745;
    }
  }

  .login-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}
